@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
/* Ensure the html and body elements allow scrolling */
html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
  overflow-y: auto;   /* Enable vertical scroll when content overflows */
}

/* Ensure the flex container grows and causes scroll if needed */
.flex-grow {
  flex-grow: 1;
}

